---
title: "#scoop Posts"
layout: layouts/base
pagination:
  data: collections.scoop
  size: 10
  alias: posts
  reverse: true
---

<hgroup>
	<h1>{{ title }}</h1>
	<p>
		{{ posts.at(-1).data.date | shortDate }} to
		{{ posts[0].data.date | shortDate }}
	</p>
</hgroup>

{% include "posts-list.njk" %}
