---
title: Oatmeal Problem
layout: layouts/base
---

<section>
	<hgroup>
		<h1>Hi, I'm Michael 👋</h1>
		<p>AKA Oatmeal Problem
	</hgroup>
	<p>
		I'm a web, app, and game developer. I blog about whatever I'm working on here.
	</p>
	
	<div class="gallery">
		<div class="gallery-row">
			<a
				target="_blank"
				href="https://stellarmaps.app"
			>
				<img src="/images/stellarmaps.png" alt="StellarMaps" />
			</a>
			<a target="_blank" href="https://oatmealproblem.itch.io/reflector">
				<img src="/images/reflector.png" alt="Reflector: Laser Defense" />
			</a>
			<a target="_blank" href="https://oatmealproblem.itch.io/wyrms-wrath">
				<img src="/images/wyrms-wrath.png" alt="Wyrm's Wrath" />
			</a>
		</div>
		<div class="gallery-row">
			<a
				target="_blank"
				href="https://github.com/oatmealproblem/vindication"
			>
				<img src="/images/vindication.jpeg" alt="Vindication" />
			</a>
			<a
				target="_blank"
				href="https://github.com/oatmealproblem/rects-in-hex-demo"
			>
				<img src="/images/rects-in-hex.png" alt="Rects in Hex" />
			</a>
			<a target="_blank" href="https://github.com/oatmealproblem/golemrl">
				<img src="/images/golemrl.png" alt="GolemRL" />
			</a>
		</div>
	</div>
</section>

<section>
	<h1>Recent Posts</h1>

	{% set posts = collections.posts | head(-5) | reverse %}
	{% include "posts-list.njk" %}
</section>
